.ans {
    width: 90px;
    height: 29px;
    color: white;
    background-color: #000000;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0.5;
    text-align: center;
    line-height: 29px;
    position: absolute;
    right: 11px;
    top: 54px;
    z-index: 11;
}